<!doctype html>
<html>
<head>

	<section data-extract data-fragment="head_start">
		<!-- We can inject any content here which needs to be placed at the very begining of head tag -->
	</section>

	<title data-fragment="title">Default Title</title>

	<script data-fragment="pre_js" type="text/javascript">
		/* We can inject any additional JS here which needs to be placed before all other JS */
	</script> 
	
	<!-- 

	Place to include main JS file(s)
	
	...
	... 

	-->
	

	<script data-fragment="post_js" type="text/javascript">
		/* We can inject any additional JS here which needs to be placed after all other JS */
	</script>

	<style data-fragment="pre_css" type="text/css">
		/* We can inject any additional CSS here which needs to be placed before all other CSS */
	</style>

	<!-- main css of our app -->
	<link rel='stylesheet' href='/stylesheets/style.css'/>
	
	<style data-fragment="post_css" type="text/css">
		/* We can inject any additional CSS here which needs to be placed after all other CSS */
	</style>

	<section data-extract data-fragment="head_end">
		<!-- We can inject any content here which needs to be placed at the very end of head tag -->
	</section>
</head>
<body>

	<section data-extract data-fragment="body_start">
		<!-- We can inject any content here which needs to be placed at the very begining of body tag -->
	</section>

	<section data-extract data-fragment="content">
		<!-- Default content will go here ...  -->
	</section>

	<section data-extract data-fragment="footer">
		<!-- Default footer text will go here ...  -->
	</section>

	<section data-extract data-fragment="body_end">
		<!-- We can inject any content here which needs to be placed at the very end of body tag -->
	</section>


</body>
</html>
